language: ruby

git:
  submodules: false

env:
  global:
  - AWS_DEFAULT_REGION=eu-west-1 
  - secure: somestring
  - secure: somestring
  
before_install:
  - echo "Installing AWS CLI"
  - pip install --upgrade --user awscli
  - echo "Installing test gems"
  - gem install yaml-lint
  
install: true

script:
  - aws cloudformation validate-template --template-body file://templates/solace-vmr-master.template
  - cp templates/solace-vmr-master.template templates/solace-vmr-master.template.yaml 
  - yaml-lint templates/solace-vmr-master.template.yaml

after_success:
  - echo "Test Success - Branch($TRAVIS_BRANCH) Pull Request($TRAVIS_PULL_REQUEST) Tag($TRAVIS_TAG)"
  - echo "Cloudformation template validated"
  - echo "YAML linted"

